<% layout('./layouts/boilerplate') %>
    <h1><%= foundCampground.title %></h1>
    <h2><%= foundCampground.location %></h2>
    <img src="<%= foundCampground.image  %>" alt="">
    <p><%= foundCampground.description %></p>
    <p>
      <a href="/campgrounds/<%=foundCampground._id%>/edit">Edit Campground</a>
    </p>
    <p>
        <form action="/campgrounds/<%=foundCampground._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
      <a href="/campgrounds">All Campgrounds</a>
    </footer>

